---
---
@charset "UTF-8";

@use "base";
@use "layout";

$baseurl: "{{site.url}}{{site.baseurl}}";
$fonturl: $baseurl + "/assets/fonts/";

@font-face{
  src: url($fonturl + 'EBGaramond08-Regular.otf');
  font-family: "EBGaramond";
}
@font-face{
  src: url($fonturl + 'Raleway-ExtraBold.ttf');
  font-family: "Raleway";
  font-weight: 800;
}
@font-face{
  src: url($fonturl + 'cmunorm.ttf');
  font-family: "CMU Concrete";
}
@font-face{
  src: url($fonturl + 'cmunobx.ttf');
  font-family: "CMU Concrete";
  font-weight: bold;
}
@font-face{
  src: url($fonturl + 'cmunoti.ttf');
  font-family: "CMU Concrete";
  font-style: italic;
}
@font-face{
  src: url($fonturl + 'cmunobi.ttf');
  font-family: "CMU Concrete";
  font-weight: bold;
  font-style: italic;
}
@font-face{
  src: url($fonturl + 'jr!ha___.ttf');
  font-family: "jr!hand";
}