@use 'sass:color';
@use 'variables' as v;

/* general layout */

body {
  background-color: v.$contrast-color;
  color: v.$text-color;
  font-size: 18px;
  line-height: 1.4em;
  font-family: v.$body-font;
  font-variant-numeric: lining-nums; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: v.$brand-color;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}

hr {
  border-bottom: 1px solid v.$text-color;
  border-top: none;
}

.content {
  width: 100%;

}

.container {
  margin: 0 auto;
  max-width: 1200px + v.$sp * 2;
  display: flex;
  justify-content: space-between;
}

.header-and-body {
  background-color: v.$background-color;
  min-height: 100vh;
}

.page-part {
    padding: 0 v.$sp v.$sp v.$sp;
}

.social-icons {
  display: flex;
  li {
    margin-left: 10px;
  }
  li, a, svg {
    width: 20px;
    height: 20px;
  }
  a:hover, a:focus {
    opacity: 0.7;
  }
}

.header {

  border-top: 4px solid v.$contrast-color;

  .line {
    width: 100vw;
    background-color: v.$contrast-color;
    height: 1px;
    position: absolute;
    right: 0;
  }
  .line-cover {
    background-color: v.$background-color;
    height: 1px;
    position: absolute;
    width: 274px;
    left: 28px;
  }
  .line,  .line-cover{
    top: 163px;
  }
  .logo {
    position: relative;
    display: block;
    max-width: 100%;
  }
  .container {
    align-items:flex-end;
    position: relative;
  }

  .tagline {
    position: relative;
    font-family: v.$title-font;
    color: v.$contrast-color;
    font-variant-caps: all-small-caps;
    font-size: 24px;
    margin-bottom: 58px;
    text-align: center;
  }

  .social-icons {
    position: absolute;
    right: 0;
    bottom: 16px;
    svg {
      fill: v.$contrast-color;
    }
  }
}

.sidebar {
  font-family: v.$title-font;
  font-size: 22px;
  line-height: 1.5;
  min-width: 240px;
  text-align: right;
  margin-right: v.$sp * 2;
}

/* prose */

.prose > * {
  margin-bottom: v.$sp;
  max-width: 750px;
  text-align: justify;
}

.prose .screened-image-wrap {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: v.$title-font;
  line-height: 1;
  a {
    color: v.$contrast-color;
  }
}

h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.45em;
}
h3 {
  font-size: 1.2em;
}

a.hotline-button {
  background: linear-gradient(210deg, rgb(76, 21, 11) 0%, rgb(140, 64, 41) 100%);
  color: #fff;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  padding: 12px 16px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid rgb(119, 34, 18);

  &:hover, &:focus, &:active {
    background: rgb(140, 64, 41);
    text-decoration: none;
  }
  &:active {
    background: rgb(76, 21, 11);
  }
}

.footer {
  font-size: 16px;
  padding-top: v.$sp;
  font-weight: bold;
  line-height: 1.5;
  background: v.$contrast-color;
  color: v.$background-color;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
  a:hover, a:focus {
    opacity: 0.8;
  }

  .social-icons {
    display: none;
    svg {
      fill: v.$background-color;
    }
  }
}


.narrow-only {
  display: none;
}

/* narrow window */

@media only screen and (max-width: 750px){

  .narrow-only {
    display: unset;
  }

  .wide-only {
    display: none;
  }

  .page-part .container {
    flex-direction: column;
  }
  .header {
    .line {
      right: - v.$sp;
    }
    .line-cover {
      left: auto;
    }
    .container {
      flex-direction: column;
      align-items: center;
    }
    .tagline {
      margin: 0;
    }
    .social-icons {
      display: none;
    }
  }
  .sidebar {
    margin-right: 0;
  }
  
  .main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: v.$sp * 2;
    padding: v.$sp * 0.5 0;
    border-top: 1px solid v.$contrast-color;
    border-bottom: 1px solid v.$contrast-color;
    li {
      white-space: nowrap;
      margin: 0 v.$sp * 0.25;
    }
  }

  .footer {
    text-align: center;
    .content {
      flex-direction: column;
      align-items: center;

      > *:not(:last-child) {
        margin-bottom: v.$sp;
      }
    }
    
    .social-icons {
      display: flex;
    }

    .wordmark {
      display: none;
    }

    .rose {
      width: 50px;
      display: inline-block;
    }
  }
}