@use 'sass:color';
@use 'variables' as v;

/* elements */

body {
  background-color: v.$contrast-color;
  color: v.$text-color;
  font-size: 18px;
  line-height: 1.4em;
  font-family: v.$body-font;
  font-variant-numeric: lining-nums; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: v.$brand-color;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
  font-family: v.$title-font;
  line-height: 1;
  a {
    color: v.$contrast-color;
  }
}
a {
  h1, h2, h3, h4, h5, h6 {
    color: v.$contrast-color;
  }
}

h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
hr {
  border-bottom: 1px solid v.$text-color;
  border-top: none;
}

code {
  background: rgba(0,0,0,0.08);
  padding: 2px 4px;
  font-family: v.$monospace-font;
  font-size: 0.85em;
}

/* general layout */

.header-and-body {
  background-color: v.$background-color;
  min-height: 100vh;
}

.dark {
  background: v.$contrast-color;
  color: v.$background-color;
  a {
    color: inherit;
    text-decoration: underline;
  }
  a:hover, a:focus {
    opacity: 0.8;
  }
  .social-icons {
    svg {
      fill: v.$background-color;
    }
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: v.$container-width + v.$sp * 2;
  display: flex;
  justify-content: space-between;

  &.padded {
    padding: 0 v.$sp;
    max-width: v.$container-width + v.$sp * 4;
  }
  &.sidebarred {
    flex-direction: row;

    .prose > * {
      margin-left: 0;
    }

    .sidebar {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 340px;
      padding-left: v.$sp * 2;
    }
  }
}

.social-icons {
  display: flex;
  li {
    margin-left: 10px;
  }
  li, a, svg {
    width: 20px;
    height: 20px;
  }
}

.header {
  padding: 0 v.$sp v.$sp v.$sp;
  border-top: 6px solid v.$contrast-color;

  .line {
    width: 100vw;
    background-color: v.$contrast-color;
    height: 1px;
    position: absolute;
    right: 0;
  }
  .line-cover {
    background-color: v.$background-color;
    height: 1px;
    position: absolute;
    width: 274px;
    left: 28px;
  }
  .line,  .line-cover{
    top: 163px;
  }
  .logo {
    position: relative;
    display: block;
    width: 100%;
    max-width: 323px;
  }
  .container {
    align-items:flex-end;
    position: relative;
  }

  a.tagline {
    position: absolute;
    font-family: v.$title-font;
    font-variant-caps: all-small-caps;
    font-size: 1.25em;
    text-align: right;
    right: 0;
    top: 16px;
    color: v.$contrast-color;
  }

  .social-icons {
    position: absolute;
    right: 0;
    bottom: 15px;
    svg {
      fill: v.$contrast-color;
    }
  }

  .main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: v.$title-font;
    font-size: 1.15em;
    text-align: right;
    margin-bottom: 50px;
    padding: v.$sp * 0.5 0;
    li {
      white-space: nowrap;
      margin-left: v.$sp * 0.75;
    }
  }

  a:hover, a:focus {
     img, svg {
      opacity: 0.7;
     }
  }
}

.body {
  padding-bottom: v.$sp * 2;
  overflow: hidden;

  .container:not(.sidebarred) {
    flex-direction: column;
  }
}

article {
  width: 100%;
}

.prose {
  line-height: 1.6;

  ul {
    list-style-type: disc;
    padding-left: 1em;
  }
  > * {
    margin: 0 auto;
    margin-bottom: v.$sp;
    display: block;
    text-align: justify;
    width: 100%;
    max-width: v.$prose-width;
  }

  &.fullwidth {
    > * {
      max-width: 100%;
    }
  }
  &.midwidth {
    > * {
      max-width: v.$prose-width * 1.2;
    }
  }

  > h1 {
    border-bottom: 1px solid v.$contrast-color;
    padding-bottom: v.$sp * 0.5;
    margin-bottom: v.$sp * 1.5;
    text-align: center;
    width: fit-content;

    &:not(:first-child) {
      margin-top: v.$sp * 3;
    }
  }
  > h2 {
    &:not(:first-child) {
      margin-top: v.$sp * 2;
    }
  }
}

.footer {
  font-size: 16px;
  padding: v.$sp;
  font-weight: bold;
  line-height: 1.5;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social-icons {
    display: none;
  }
}

/* layout- and page-specific styles */

.graphic-background {
  position: relative;
  display: flex;
  justify-content: center;
  > * {
    position: relative;
  }
  &::before {
    content: "";
    background-image: url("/ui/grid.png");
    background-size: 5px;
    background-position-x: center;
    opacity: 0.09;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }
}
.inline-graphic {
  flex-direction: column;
  align-items: center;
  padding: 0 v.$sp;
  img {
    width: 100%;
    margin: v.$sp v.$sp * 0.5;
  }
  figcaption {
    margin-bottom: v.$sp * 0.75;
    font-family: v.$caption-font;
    font-size: 21px;
  }
}
.graphic {
  filter: drop-shadow(0px 2px 4px #00000025);
  margin: v.$sp
}
.graphic-group {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  .inline-graphic {
    padding: 0;
  }
  .graphic-background {
    &::before {
      display: none;
    }
  }
  .group-label {
    position: absolute;
  }
}
.hero-image-wrap {
  margin-bottom: v.$sp * 1.5;
  .hero-image {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 50vh;
    min-height: 241px;
    max-height: 500px;
    &.background-bottom {
      background-position: bottom;
    }
  }
  .hero-graphic {
    height: calc(50vh - v.$sp * 2);
    min-height: 241px - v.$sp * 2;
    max-height: 500px - v.$sp * 2;
    margin: v.$sp auto;
  }
}
.label {
  font-family: v.$title-font;
  font-variant-caps: all-small-caps;
  font-size: 22px;
}
.value {
  margin-bottom: v.$sp;
}
.layout-project {
  h1 {
    text-align: unset;
    margin-top: v.$sp * 0.25;
    .iconed-text {
      padding-bottom: v.$sp;
    }
  }

  &:not(.has-hero) {
    h1 {
      .iconed-text {
        border-bottom: 1px solid v.$contrast-color;
        margin-bottom: v.$sp * 1.5;
      }
    }
  }
}

ul.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: unset;
  padding: 0;
  list-style-type: none;
  .card {
    width: 50%;
    min-width: 350px;
    flex-grow: 1;
    margin-bottom: v.$sp * 1.5;
  }
  .card a {
    color: v.$contrast-color;
    .subtitle {
      color: v.$text-color;
    }
    .icon {
      margin-left: v.$sp * 0.75;
    }
  }
}
.iconed-text {
  display: flex;
  position: relative;
  align-items: center;
  .icon {
    width: 40px;
    max-height: 40px;
    aspect-ratio: 1;
    vertical-align: middle;
    margin-right: v.$sp * 0.75;
  }
}

a.hotline-button {
  background: linear-gradient(210deg, rgb(76, 21, 11) 0%, rgb(140, 64, 41) 100%);
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  padding: 12px 16px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid rgb(119, 34, 18);

  &:hover, &:focus, &:active {
    background: rgb(140, 64, 41);
    text-decoration: none;
  }
  &:active {
    background: rgb(76, 21, 11);
  }
}

.begbox-wrap {
  padding-top: v.$sp;
  margin-top: v.$sp * 6;
  background: v.$alt-background-color;
  position: relative;
}
.begbox {
  position: relative;
  background-position: center;
  background-size: cover;
  color: v.$background-color;
  font-size: 21px;
  line-height: 1.5em;
  font-weight: bold;
  padding: v.$sp * 3 v.$sp;
  border: v.$sp * 0.5 solid white;
  height: 600px;
  max-height: calc(100vh - v.$sp * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: - v.$sp * 4;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
  transform: rotate(2.5deg);

  &.dark-text {
    color: #070B1E;//v.$contrast-color;
  }

  h1 {
    width: fit-content;
    font-family: "Milkshake";
    font-size: 2.75em;
    transform: rotate(-10deg);
  }
  p {
    max-width: 400px;
    margin-bottom: 0.75em;
    margin-left: v.$sp * 5;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
}
.begbox-inner {
  padding-bottom: v.$sp * 2;
  padding-right: v.$sp * 2;
}
.begbox-under {
  background: v.$contrast-color;
  height: 100vh;
  position: absolute;
  top: calc(100% - v.$sp * 4);
  width: 100%;
}

/* narrow window */

.narrow-only {
  display: none;
}

@media only screen and (max-height: (500px)) {
  .begbox {
    max-height: 400px;
  }
}

@media only screen and (max-width: (v.$prose-width + v.$sp * 2)) {

  body {
    font-size: 17px;
  }

  .narrow-only {
    display: unset;
  }

  .wide-only {
    display: none;
  }

  .page-part .container {
    flex-direction: column;
  }
  .container {
    &.sidebarred {
      flex-direction: column;
      .sidebar {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: unset;
        padding-left: 0;
       
        .labeled-value {
          width: 50%;
        }
      }
    }
  }
  .header {
    .line {
      right: - v.$sp;
    }
    .line-cover {
      left: auto;
    }
    .container {
      flex-direction: column;
      align-items: center;
    }
    a.tagline {
      position: relative;
      top: 0;
      text-align: center;
      margin-bottom: v.$sp;
    }
    .main-menu {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: v.$sp;
      padding: v.$sp * 0.5 0;
      border-top: 1px solid v.$contrast-color;
      border-bottom: 1px solid v.$contrast-color;
      li {
        white-space: nowrap;
        margin: 0 v.$sp * 0.25;
      }
    }
    .social-icons {
      display: none;
    }
  }

  .footer {
    text-align: center;
    .container {
      flex-direction: column;
      align-items: center;

      > *:not(:last-child) {
        margin-bottom: v.$sp;
      }
    }
    
    .social-icons {
      display: flex;
    }

    .wordmark {
      display: none;
    }

    .rose {
      width: 50px;
      display: inline-block;
    }
  }

  .begbox {
    font-size: unset;
    text-align: justify;
    h1 {
      text-align: center;
      width: auto;
      transform: unset;
      margin-bottom: v.$sp;
    }
    p {
      margin-left: unset;
    }
  }
  .begbox-inner {
    padding-right: unset;
  }
}