$site-title-font: 'Kentucky Fireplace', Helvetica, Arial, sans-serif;
$title-font: 'EBGaramond', Garamond, Georgia, serif;
$body-font: 'CMU Concrete', Georgia, serif;

$background-color: #FFFAF7;
$text-color: #333;
$brand-color: #E37700;
$contrast-color: #460D03;

$container-width: 1200px;
$prose-width: 760px;

$sp: 20px;
