---
layout: default
---
<div class="container padded">

  {% if page.title %}
    <h1><a href="{{page.url | absolute_url}}" class="iconed-text"><img class="icon" src="{{page.icon | absolute_url}}" alt="{{item.icon_alt}}"/><span class="text">{{page.title | smartify}}</span></a></h1>
  {% endif %}
</div>
{% if page.image or page.graphic %}
  <div class="hero-image-wrap graphic-background">
    <div class="container">
      {% if page.image %}
        <div class="hero-image {{page.image_classes}}" alt="{{page.image_alt | escape}}" style="background-image:url('{{page.image | absolute_url}}');"></div>
      {% elsif page.graphic %}
        <img class="hero-graphic graphic" alt="{{page.image_alt | escape}}" src="{{page.graphic | absolute_url}}">
      {% endif %}
    </div>
  </div>
{% endif %}
<div class="container padded sidebarred">
  <article class="prose">
    {{content}}
    {%- assign related = "" | split: "" -%}
    {%- for tag in page.tags -%}
      {%- assign with_same_tag = site.projects | where_exp: "item", "item.tags contains tag and item != page" -%}
      {%- for item in with_same_tag -%}
        {%- unless related contains item -%}
          {%- assign related = related | push: item -%}
        {%- endunless -%}
      {%- endfor -%}
    {%- endfor -%}
    {%- if related.size > 0 -%}
      <h2>Related projects</h2>
      {%- include cards.html items=related -%}
    {%- endif -%}
  </article>
  <div class="sidebar">
    {% if page.category %}
      <div class="labeled-value">
        <p class="label">Project Type</p>
        <p class="value">{{page.category}}</p>
      </div>
    {% endif %}
    {% if page.status %}
      <div class="labeled-value">
        <p class="label">{{page.status_label | default: 'Status'}}</p>
        <p class="value">{{page.status}}</p>
      </div>
    {% endif %}
    {% if page.event %}
      <div class="labeled-value">
        <p class="label">{{page.event_label | default: 'Event'}}</p>
        <p class="value">{{page.event}}</p>
      </div>
    {% endif %}
    {% if page.start and page.start_label %}
      <div class="labeled-value">
        <p class="label">{{page.start_label}}</p>
        <p class="value">{% if page.start.size %}{{page.start}}{% else %}{{page.start | date: '%B %Y'}}{% endif %}</p>
      </div>
    {% endif %}
    {% if page.end %}
      <div class="labeled-value">
        <p class="label">{{page.end_label | default: 'Completed'}}</p>
        <p class="value">{% if page.end.size %}{{page.end}}{% else %}{{page.end | date: '%B %Y'}}{% endif %}</p>
      </div>
    {% endif %}
    <div class="labeled-value">
      <p class="label">{% if page.category contains 'Design' %}Designer{% elsif page.category == 'Mapping' %}Mapper{% elsif page.category contains 'Software' %}Developer{% else %}{{page.producer_label | default: 'Producer'}}{% endif %}</p>
      <p class="value">{{page.producer | default: 'Quincy Morgan'}}</p>
    </div>
    {% if page.client %}
      <div class="labeled-value">
        <p class="label">{{page.client_label | default: 'Client'}}</p>
        <p class="value">{{page.client}}</p>
      </div>
    {% endif %}
  </div>
</div>
<div class="container padded">
  {%- assign updated_date = page.updated | default: page.date | date: site.date_format -%}
  {% if updated_date %}<p><i>This page last updated {{updated_date}}.</i></p>{% endif %}
</div>
<div class="begbox-wrap">
  <div class="begbox-under"></div>
  <div class="container padded">
    <div class="begbox {% if page.photo_classes %}{{page.photo_classes}}{% endif %}" style="background-image:url('{{page.photo | default: '/img/photo-camping.jpg' | absolute_url}}');">
      <div class="begbox-inner">
        <h1>Say hello</h1>
        <p>Need a collaborator on a similar job? <a href="{{siteurl}}{{baseurl}}/#hire">Get in touch</a> and see how I can help.</p>
        <p>Or, consider <a href="{{siteurl}}{{baseurl}}/#sponsor">sponsoring me</a> if you find my work useful :)</p>
      </div>
    </div>
  </div>
</div>