<div class="footer page-part dark">
    <div class="container">
        <a href="{{site.url}}{{site.baseurl}}"><img class="wordmark wide-only" src="{{site.url}}{{site.baseurl}}/img/ui/wayside-mapping-logo-footer.svg" alt="Wayside Mapping"/><img class="rose narrow-only" src="{{site.url}}{{site.baseurl}}/img/ui/wayside-rose.svg" alt="Wayside Mapping compass rose"/></a>
        {% include social_links.html item=site %}
        <p>This website is <a href="https://github.com/waysidemapping/waysidemapping.org" target="_blank">open source</a>. <br class="narrow-only"/>© {{ site.time | date: '%Y' }} Quincy Morgan</p>
    </div>
</div>