<div class="footer page-part">
    <div class="container">
        <div class="content">
            <a href="{{site.url}}{{site.baseurl}}"><img class="wordmark wide-only" src="{{site.url}}{{site.baseurl}}/assets/img/wayside-mapping-logo-footer.svg"/><img class="rose narrow-only" src="{{site.url}}{{site.baseurl}}/assets/img/wayside-rose.svg"/></a>
            {% include social_links.html item=site %}
            <p>This website is <a href="https://github.com/waysidemapping/waysidemapping.org" target="_blank">open source</a>. <br class="narrow-only"/>© {{ site.time | date: '%Y' }} Quincy Morgan</p>
        </div>
    </div>
</div>