<figure class="inline-graphic graphic-background" style="{%- if include.width -%}width:{{include.width}}{%- endif -%}">
    {%- if include.title -%}
        <div class="graphic-title">{{include.title | smartify}}</div>
    {%- endif -%}
    <img class="graphic {{include.img_classes}}" title="{{ include.img_title | escape }}" alt="{{ include.img_alt | default: include.caption | escape }}" src="{{include.file | absolute_url}}" style="{%- if include.img_width -%}max-width:{{include.img_width}};width:100%;{%- endif -%}"/>
    {%- if include.caption -%}
        <figcaption>{{include.caption | smartify}}</figcaption>
    {%- endif -%}
</figure>
