<figure class="inline-graphic graphic-background" style="{%- if include.width -%}width:{{include.width}}{%- endif -%}">
    {%- if include.title -%}
        <div class="graphic-title">{{include.title | smartify}}</div>
    {%- endif -%}
    <img class="graphic" title="{{ include.img-title | escape }}" alt="{{ include.img-alt | default: include.caption | escape }}" src="{{include.file | absolute_url}}" style="{%- if include.img-width -%}max-width:{{include.img-width}}{%- endif -%}"/>
    {%- if include.caption -%}
        <figcaption>{{include.caption | smartify}}</figcaption>
    {%- endif -%}
</figure>
