<div class="header page-part">
    <div class="container">
        <div class="line"></div>
        <div class="line-cover"></div>
        <a href="{{site.url}}{{site.baseurl}}" style="flex-shrink: 0;"><img class="logo" src="{{site.url}}{{site.baseurl}}/img/wayside-mapping-logo.svg" alt="Wayside Mapping"/></a>
        <a href="{{site.url}}{{site.baseurl}}/about/" class="tagline">Open source geospatial services <br/>by Quincy Morgan</a>
        {% include main_menu.html %}
        {% include social_links.html item=site %}
    </div>
</div>
