<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "{{site.title}}",
      "url" : "{{site.url}}"
    }
  </script>
  <link href="{{site.url}}{{site.baseurl}}/assets/style.css" rel="stylesheet" />
  <title>{%- if page.title -%} {{page.title}} | {% endif -%} {{site.title}}</title>
  <meta name="title" property="og:title" content="{{page.title}}">
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{page.url | absolute_url }}">
  {%- if page.preview_image or page.hero_image or page.hero_graphic -%}<meta property="og:image" content="{{page.preview_image | default: page.hero_image | default: page.hero_graphic | absolute_url }}" />{%- endif -%}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q5KG5DPQYV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-Q5KG5DPQYV');
  </script>
</head>