<ul class="main-menu">
    <li><a href="{{siteurl}}{{baseurl}}/#welcome"><span class="wide-only">About</span><span class="narrow-only">About</span></a></li>
    <li><a href="{{siteurl}}{{baseurl}}/#portfolio"><span class="wide-only">Portfolio</span><span class="narrow-only">Portfolio</span></a></li>
    <li><a href="{{siteurl}}{{baseurl}}/#hire"><span class="wide-only">Hire Me</span><span class="narrow-only">Hire</span></a></li>
    <!--<li><a href="{{site.url}}{{site.baseurl}}/osm-hotline/"><span class="wide-only">OSM Hotline</span><span class="narrow-only">Hotline</span></a></li>-->
    <li><a href="{{siteurl}}{{baseurl}}/#support"><span class="wide-only">Support Me</span><span class="narrow-only">Support</span></a></li>
</ul>