<ul class="main-menu">
    <li><a href="{{site.url}}{{site.baseurl}}/about/"><span class="wide-only">About</span><span class="narrow-only">About</span></a></li>
    <li><a href="{{site.url}}{{site.baseurl}}/projects/"><span class="wide-only">Portfolio</span><span class="narrow-only">Portfolio</span></a></li>
    <li><a href="{{site.url}}{{site.baseurl}}/contact/"><span class="wide-only">Hire Me</span><span class="narrow-only">Hire</span></a></li>
    <li><a href="{{site.url}}{{site.baseurl}}/osm-hotline/"><span class="wide-only">OSM Hotline</span><span class="narrow-only">Hotline</span></a></li>
    <li><a href="{{site.url}}{{site.baseurl}}/give/"><span class="wide-only">Tip Jar</span><span class="narrow-only">Tip</span></a></li>
</ul>